@use 'sass:math';

$draft-width: 1920;
$draft-height: 980;
$normal-font: 14;
$min-font: 12;
$scaling-scale: 0.75;

@function px($num) {
  @return $num * math.div(96, 72) * 1pt;
}

html {
  min-width: max(
    100vw,
    calc(
      $scaling-scale * $draft-width / $draft-height * max(100vh, px(math.div($draft-height, $normal-font) * $min-font))
    )
  );
  font-size: max(px($min-font), math.div($min-font, $draft-height) * 100vh);
}

body {
  font-size: $normal-font * 1px;
}

#app {
  height: max(100vh, px(math.div($draft-height, $normal-font) * $min-font));
}
